Connected Services/CGOKServices/CGOKService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56665/CGOKService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CyberGlobesDM.OKDMs" />
  <xs:element name="GetOKProfiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="target" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOKProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CyberGlobesDM.OKDMs" minOccurs="0" name="GetOKProfilesResult" nillable="true" type="q1:OKUserDM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>