Connected Services/CGTelegramServices/CGTelegramService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CyberGlobesDM.TelegramDMs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CyberGlobesDM.TelegramDMs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56665/CGTelegramService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:complexType name="TelegramPersonDM">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="Photo" nillable="true" type="q1:Bitmap" />
      <xs:element minOccurs="0" name="PhotoMemory" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PhotoName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TelegramPersonDM" nillable="true" type="tns:TelegramPersonDM" />
</xs:schema>