Connected Services/CGLeakServices/CGLeakService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CGLeakService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://84.110.37.131:8080/CGLeakServices/CGLeakService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://84.110.37.131:8080/CGLeakServices/CGLeakService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://84.110.37.131:8080/CGLeakServices/CGLeakService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CyberGlobesLeaks" />
      <xsd:import schemaLocation="http://84.110.37.131:8080/CGLeakServices/CGLeakService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CyberGlobesDM.WeLeakInfoDMs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICGLeakService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ICGLeakService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICGLeakService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ICGLeakService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="ICGLeakService_GetLeaksProfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeaksProfiles" />
  </wsdl:message>
  <wsdl:message name="ICGLeakService_GetLeaksProfiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeaksProfilesResponse" />
  </wsdl:message>
  <wsdl:portType name="ICGLeakService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICGLeakService/GetData" message="tns:ICGLeakService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICGLeakService/GetDataResponse" message="tns:ICGLeakService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ICGLeakService/GetDataUsingDataContract" message="tns:ICGLeakService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICGLeakService/GetDataUsingDataContractResponse" message="tns:ICGLeakService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLeaksProfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/ICGLeakService/GetLeaksProfiles" message="tns:ICGLeakService_GetLeaksProfiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICGLeakService/GetLeaksProfilesResponse" message="tns:ICGLeakService_GetLeaksProfiles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICGLeakService" type="tns:ICGLeakService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ICGLeakService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ICGLeakService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeaksProfiles">
      <soap:operation soapAction="http://tempuri.org/ICGLeakService/GetLeaksProfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CGLeakService">
    <wsdl:port name="BasicHttpBinding_ICGLeakService" binding="tns:BasicHttpBinding_ICGLeakService">
      <soap:address location="http://84.110.37.131:8080/CGLeakServices/CGLeakService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>