Connected Services/CGGeneralServicesDB/CGGeneralService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CyberGlobesDM.GeneralsDMs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CyberGlobesDM.GeneralsDMs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SocialUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accesstoken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccesstokenSecret" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvatarUid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cookie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocialType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SocialUser" nillable="true" type="tns:SocialUser" />
</xs:schema>