Connected Services/CGGeneralServicesDB/CGGeneralService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CyberGlobesInfra" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CyberGlobesInfra" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientStation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Identifires" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Server" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uninstall" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientStation" nillable="true" type="tns:ClientStation" />
  <xs:complexType name="CyberglobesSysUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Admin" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ClientMac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Permissions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueriesRemaining" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CyberglobesSysUser" nillable="true" type="tns:CyberglobesSysUser" />
</xs:schema>