Connected Services/CGEnrichmentServices/CGEnrichmentService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CyberGlobesDM.WeLeakInfoDMs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CyberGlobesDM.WeLeakInfoDMs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WeLeakInfoPersonDM">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfDatum" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="Took" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
      <xs:element minOccurs="0" name="Unique" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeLeakInfoPersonDM" nillable="true" type="tns:WeLeakInfoPersonDM" />
  <xs:complexType name="ArrayOfDatum">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Datum" nillable="true" type="tns:Datum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatum" nillable="true" type="tns:ArrayOfDatum" />
  <xs:complexType name="Datum">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Database" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateofBirth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstLast" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastIPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisteredIPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Datum" nillable="true" type="tns:Datum" />
</xs:schema>