Connected Services/CGEnrichmentServices/CGEnrichmentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56665/CGEnrichmentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CyberGlobesDM.InstagramDMs" />
  <xs:element name="InstagramAddressBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailOrPhone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstagramAddressBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CyberGlobesDM.InstagramDMs" minOccurs="0" name="InstagramAddressBookResult" nillable="true" type="q1:InstagramAddressBookDM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>